.milkdown {
	position: relative;
}

.milkdown .editor {
	width: 80%;
	border: 1px solid red;
	border-radius: 4px;
	padding: 10px;
	margin-top: 100px;
}

.mentions-list-empty-dropdown {
	padding: 6px 12px;
	background-color: burlywood;
}

.mentions-dropdown-list {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	background-color: burlywood;
}

.mentions-dropdown-list-item {
	border: 1px solid white;
}

.mentions-dropdown-list-item button {
	cursor: pointer;
	border: 0;
	outline: 0;
	background-color: transparent;
	padding: 6px 12px;
	width: 100%;
}

.mentions-dropdown-list-item:hover {
	background-color: grey;
}